#main{
    background-color: blue;
    padding: 10px;
    display: flex;
}
img{
    height: 60px;
    width: 60px;
}
.header{
    margin: 5px;
    padding: 10px;
}
#h{
    animation: type 1s;
}
#a{
    animation: type 2s;
}
#c{
    animation: type 2.5s;
}

#h:hover{
    background-color: beige;
    background-size: cover;
    color: #000000;
    font-size: 20px;
}
#a:hover{
    background-color: beige;
    background-size: cover;
    color: #000000;
    font-size: 20px;
}
#c:hover{
    background-color: beige;
    background-size: cover;
    color: #000000;
    font-size: 20px;
}

@keyframes type {
    0%{
        margin-left: -1000px;
    }
    
    50%{
        margin-left: 100px;
    }

    100%{
        margin-left: 0px;
    }
}